q3-student.xml

<?xml version = "1.0"  encoding = "utf-8"?>
<!DOCTYPE student_catalog [
<!ELEMENT student_catalog (student+)>
<!ELEMENT student (name, address, marks, hobbies)>
<!ELEMENT name (fname, lname, mname)>
<!ELEMENT address (houseno, streetname, cityname, state)>
<!ELEMENT marks (#PCDATA)>
<!ELEMENT hobbies (#PCDATA)>
]>
<?xml-stylesheet type="text/css" href="student.css"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:student_catalog>
 <xs:student>
   <xs:name> 
  	<xs:fname> Ramya </xs:fname>
	<xs:lname> kumari </xs:lname>
	<xs:mname> K </xs:mname>
   </xs:name>
   <xs:address>
	<xs:houseno> 85 </xs:houseno>
	<xs:streetname> xx </xs:streetname>
	<xs:cityname> yy</xs:cityname>
	<xs:state> Karnataka </xs:state>
   </xs:address>
   <xs:marks> 95</xs:marks>
   <xs:hobbies> Dancing </xs:hobbies>
  </xs:student>
</xs:student_catalog>
